<!DOCTYPE html>
<html lang="ja" class="">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=1080">
  <meta name="referrer" content="no-referrer">
  <link rel="stylesheet" type="text/css" media="all" href="./css/tooltipster.bundle.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="./css/Issue.css">
  <link rel="stylesheet" type="text/css" media="all" href="./css/introjs.css">
  <link rel="stylesheet" type="text/css" media="all" href="./css/introjs-flattener.css">
  <title>{{ project.key }} 課題の詳細</title>
</head>

<body class="Page--view-issue theme-default ">
  <header id="project-header" class="content-header" aria-label="プロジェクトヘッダー">
    <div class="content-header__inner project-header">
      <div class="header-icon-set project-header__summary">
        <div class="header-icon-set__icon">
          <img src="{{ project.icon }}" alt="project logo" class="header-icon-set__image">
        </div>
        <h1 class="header-icon-set__text"><span class="header-icon-set__name">{{ project.name }}</span><span class="header-icon-set__key">{{ project.key }}</span></h1>
      </div>
    </div><!-- End content-header__inner -->
  </header><!-- End content-header -->
  <div class="content-main -with-head-line-pager -with-foot-space">
    <div id="issueArea">
      <div class="ticket js_ticket-collapsed">
        <div class="ticket__header">
          <div class="ticket__key -has-button">
            <span class="pill pill--issue-type-7">{{ issue.issueType.name }}</span>
            <span class="ticket__key-number">{{ issue.issueKey }}</span>
          </div>
          <div class="ticket__date">
            <span class="ticket__date-item">
              <span>開始日</span>{{ issue.startDate|datefilter }}
            </span>
            <span class="over-due ticket__date-item">
              <span>期限日</span>{{ issue.dueDate|datefilter }}
              <svg role="image" class="icon -medium over-due__icon">
                <use xlink:href="/images/svg/sprite.symbol.svg#icon_fire"></use>
              </svg></span>
            </span>
            <span class="status-label status-label--1">{{ issue.status.name }}</span>
          </div>
        </div><!-- End ticket__header -->
        <div class="ticket__title-group title-group -ticket">
          <h2 id="summary" class="ticket__title title-group__title -three-actions">
            <span class="title-group__title-text">{{ issue.summary }}</span>
          </h2>
        </div>
        <div id="issuecard" class="card card--default ticket__content -has-see-all">
          <div class="ticket__article">
            <div class="ticket__article-header">
              <div class="user-icon-set -collapsed-trigger">
                <span class="user-icon-set__user-icon">
                  <img class="image image--circle -x-large" src="../{{ issue.createdUser.icon }}"></a>
                </span>
                <span class="user-icon-set__text -collapsed-trigger">
                  <span class="user-icon-set__name"></span><br>
                  <span class="user-icon-set__sub-line"><span>登録日</span>{{ issue.created|datetimefilter }}
                    <span class="ticket__collapsed-summary-separator">/</span><span class="ticket__collapsed-summary">{{ issue.summary }}</span>
                  </span>
                </span>
              </div>
            </div><!-- END ticket__article-header -->
            <div class="ticket__description loom" id="issueDescription">
              <div class="markdown-body">
                <p>{{ issue.description }}</p>
              </div>
            </div>
          </div><!-- End ticket__article -->
          <div class="ticket__properties">
            <div class="ticket__properties-item -priority">
              <div class="ticket__properties-label">優先度</div>
              <div class="ticket__properties-value">
                <div>{{ issue.priority.name }}</div>
              </div>
            </div>
            <div class="ticket__properties-item -assigner">
              <div class="ticket__properties-label">担当者</div>
              <div class="ticket__properties-value">
                {{ issue.assignee.name }}
                <a class="_week-trigger-text" href="/find/PROJECT1?condition.assignerId=-1">
                  <span></span>
                </a>
              </div>
            </div>
            <div class="ticket__properties-item -category">
              <div class="ticket__properties-label">カテゴリー</div>
              <div class="ticket__properties-value">
                <div>
                </div>
                {% for category in issue.category %}
                <div style="">{{ category.name }},</div>
                {% endfor %}
              </div>
            </div>
            <div class="ticket__properties-item -milestones">
              <div class="ticket__properties-label">マイルストーン</div>
              <div class="ticket__properties-value _week-trigger-text">
                <div>
                </div>
                {% for term in issue.milestone %}
                <div style="">{{ term.name }}</div>
                {% endfor %}
              </div>
            </div>
          </div><!-- ticket__properties 01 -->
          <div>
            <div class="ticket__properties-collapsed js_folding-target" style="">
              <div class="ticket__properties">
                <div class="ticket__properties-item -versions">
                  <div class="ticket__properties-label">発生バージョン</div>
                  <div class="ticket__properties-value _week-trigger-text">
                    <div>
                    </div>
                    {% for version in issue.versions %}
                    <div style="">{{ version.name }}</div>
                    {% endfor %}
                  </div>
                </div>
                <div class="ticket__properties-item"></div>
                <div class="ticket__properties-item -estimated-hours">
                  <div class="ticket__properties-label">予定時間</div>
                  <div class="ticket__properties-value">{{ issue.estimatedHours }}</div>
                </div>
                <div class="ticket__properties-item -actual-hours">
                  <div class="ticket__properties-label">実績時間</div>
                  <div class="ticket__properties-value">{{ issue.actualHours }}</div>
                </div>
                <div class="ticket__properties-item -resolution">
                  <div class="ticket__properties-label">完了理由</div>
                  <div class="ticket__properties-value">{{ issue.resolution.name }}</div>
                </div>
              </div>
              <div class="ticket__properties -one-col">
                {% for field in issue.customFields %}
                <div class="ticket__properties-item -custom-field">
                  <div class="ticket__properties-label">{{ field.name }}</div>
                  <div class="ticket__properties-value loom">
                    <div class="markdown-body">
                      <p>{{ field.value }}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div><!-- End ticketPropertiesCollapsed -->
          </div>
        </div><!-- End issuecard -->
      </div><!-- End ticket -->
      <div>
        <!-- ko with: accessoriesViewModel -->
        <ul>
          <!-- ko with: attachmentTabViewModel -->
          {% for attachment in issue.attachments %}
          <li>
            <a class="upload-item-list__name js_imageAttachment" href="../{{ attachment.path }}">{{attachment.name}}</a>
          </li>
          {% endfor %}
          <!-- /ko -->
          <!-- ko with: sharedFileTabViewModel -->
          {% for file in issue.sharedfiles %}
          <li>
            <a class="upload-item-list__name js_imageAttachment" href="../{{ file.path }}">{{file.name}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="commentArea">
      <div id="comments" class="comment-section _mg-t-30">
        <div class="comment-list-heading">
          <h3 class="title title--fourth comment-list-heading__title">
            コメント <span class="title-group__number">(
              <!-- ko text: numComment -->{{ issue.comments|length }}
              <!-- /ko -->)</span>
          </h3>
          <div class="comment-list-heading__view-options">
          </div>
        </div>
        <div class="comment-list">
          <!-- ko template: { name: displayMode, foreach: comments, as: 'comment'} -->
          {% for comment in issue.comments %}
          <div class="comment-item is_first">
            <div class="comment-item__inner">
              <a class="page-section-anchor -double-header" name="comment-47354086">&nbsp;</a>
              <div class="comment-item__header">
                <div class="user-icon-set -collapsed-trigger">
                  <img src="../{{ comment.createdUser.icon }}" class="image image--circle -x-large" alt="">
                  <span class="user-icon-set__text comment-item__user-text">
                    <span class="user-icon-set__name">{{ comment.createdUser.name }}</span><br>
                    <span class="user-icon-set__sub-line">
                      <a href="" class="user-icon-set__sub-line-anchor">{{ comment.created|datetimefilter }}</a>
                      <span class="comment-item__collapsed-summary-separator">/</span>
                      <span class="comment-item__collapsed-summary">{{ comment.summary }}</span>
                    </span>
                  </span>
                </div>
              </div><!-- End .comment-item__header -->
              <div class="comment-item__container js_comment-container">
                <ul class="comment-changelog">
                  {% for log in comment.changeLog %}
                  <li class="comment-changelog__item">
                    <span class="comment-changelog__label">{{ log.field }}</span>:
                    <span>{{ log.originalValue }}</span>
                    <span class="comment-changelog__arrow"></span>
                    <span>{{ log.newValue }}</span>
                  </li>
                  {% endfor %}
                </ul>
                <div class="loom comment-content">
                  <div>
                    <div class="markdown-body">
                      {{ comment.content }}
                    </div>
                  </div>
                </div>
              </div><!-- End .comment-item__container -->
            </div><!-- comment-item__inner -->
          </div><!-- comment-item -->
          {% endfor %}
        </div><!-- End content-main -->
      </div><!-- End content-outer -->
    </div>
  </div>
</body>

</html>
